.contact {
    padding: 10% 0;
    background-image: url(../design/contact_oval.svg);
    background-size: cover;
    background-position:center top;
    background-repeat: no-repeat;
    &__wrapper {
        position: relative;
    }
    &__col {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
    }
    &__title {
        @include text-style (bold,36px,54px,#2F281E);
    }
    &__text {
        @include text-style (500,16px,26px,#567592);
        max-width: 542px;
        margin: 22px 0 60px 0;
        text-align: center;
    }
    &__btn {
        padding: 15px 0;
        width: 216px;
        background: #FF9900;
        border-radius: 4px;
        text-align: center;
        display: block;
        border: 1px solid #FF9900;
    }
    &__btn_text {
        @include text-style (bold,16px,24px,#ffffff);
        margin: 0;
    }
    &__btn:hover > &__btn_text {
        @include text-style (bold,16px,24px,#FF9900);
        animation: cool_contact 0.5s linear infinite alternate;
    }
    &__btn:hover {
        background: #ffffff;
    }
    
    
}
@media screen and(min-width:320px) {
    .contact {
        &__title {
            margin: 24px 0 0 0;
            text-align: center;
        }
        &__avatar {
            position: absolute;
            width:250px;
            &--left--top {
                left:2%;
                bottom:-39%;
            }
            &--right--top{
                right:10%;
                bottom:-65%;
            }
            &--left--bottom {
                left:0;
                bottom:-93%;
            }
            &--right--bottom{
                right:4%;
                bottom:-129%;
            }
            &--middle--bottom{
                left:0;
                bottom:-141%;
            }
        }
    }
}
@media screen and(min-width:700px) {
    .contact{
        &__title {
            margin: 50px 0 0 0;
        }
        &__avatar {
            position: absolute;
            width:290px;
            &--left--top {
                top:0;
            }
            &--right--top{
                top:-15%;
            }
            &--left--bottom {
                left:3%;
                bottom:-50%;
            }
            &--right--bottom{
                right:3%;
                bottom:-50%;
            }
            &--middle--bottom{
                left:30%;
                bottom:-90%;
            }
        }
    }
}
@media screen and(min-width:900px) {
    .contact{
        &__avatar {
            position: absolute;
            width:362px;
            &--right--bottom{
                bottom:-59%;
            }
            &--middle--bottom{
                bottom:-94%;
            }
        }
    }
}


@keyframes cool_contact  {
0% {
    transform: scale(1);
}
100% {
    transform: scale(1.3);
}
}