.demo {
    &__col {
        flex-basis:50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        &--img{
            align-items: center;
        }
    }
    &__title {
        @include text-style (bold,44px,54px, #2F281E);
        margin: 0;
    }
    &__text {
        @include text-style (normal,18px,28px, #544837);
        max-width: 458px;
        margin: 30px 0 45px 0;
        padding: 0;
    }
    &__btn {
        text-decoration: none;
        padding: 15px 0;
        width: 175px;
        background: #FF9900;
        border-radius: 4px;
        text-align: center;
    }
    &__link {
        margin-left: 30px;
        background: url(../design/Triangle.svg) left no-repeat;
    }
    &__btn_text {
        margin: 0;
        @include text-style (bold,16px,24px, #ffffff);
    }
    &__link_text {
        @include text-style (600,16px,24px,#FF9900);
        text-decoration: underline;
        padding-left: 29px;
        margin: 0;
    }
    &__btn:hover > &__btn_text {
        animation: cool 0.5s linear infinite alternate;
    } 
    &__link:hover > &__link_text {
        animation: right_transition 0.5s linear infinite alternate;
    } 
}
@keyframes cool  {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.4);
    }
}
@keyframes right_transition  {
    0% {
        transform: translate(0)
    }
    50% {
        transform: translate(20px)
    }
    100% {
        transform: translate(0)
    }
}
@media screen and (min-width:320px) {
    .demo {
        &__wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            box-sizing: border-box;
        }
        &__img{
            width: 70%;
            display: block;
        }
        &__btns {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-self: center;
        }
        &__btn,&__link {
            margin-bottom: 20px;
        }
    }
}
@media screen and (min-width:600px) {
    .demo {
        &__wrapper {
            flex-direction: row;
        }
        &__img{
            width: 100%;
        }
        &__btns {
            flex-direction: row;
            justify-content: space-between;
            align-self: flex-start;
        }
        &__btn,&__link {
            margin-bottom: 0;
        }
    }
}
