.description{
    margin:10% 0;
    &__col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        &--text {
            max-width: 486px;
            flex-basis: 50%;
        }
        &--img {
            max-width: 542px;
            flex-basis: 40%;
        }
    }
    &__img {
        width: 100%;
        display: block;
    }
    &__text {
        margin: 0;
        @include text-style (500,16px,26px,#544837);
        &--top {
            margin: 0 0 3px 0;
            @include text-style (500,16px,24px,#544837);
        }
        &--title {
            @include text-style (bold,16px,26px,#2F281E);
            margin: 25px 0 12px 0;
        }
        &--list {
            margin-top: 30px;
            padding-left: 65px;
            background: url(../design/list_icon.svg) left no-repeat;
        }
    }
    &__title {
        margin: 0 0 22px 0;
        @include text-style (bold,36px,54px,#2F281E);
    }
    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

}
@media screen and (min-width:320px) {
    .description {
        &__wrapper {
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
        }
        &__col{
            margin: 0 0 9% 0;
        } 
    }
}
@media screen and (min-width:600px) {
    .description {
        &__wrapper {
            flex-direction: row;
        }
        &__col {
            margin-bottom: 9%;
            &--text {
                margin-right: 60px;
                &--center {
                    margin:0 0 9% 60px;
                }
            }
        }
    }
}
