.info{
    background: url(../design/info_oval.svg) no-repeat;
    background-position: center bottom;
    padding: 5% 0 90px 0;
    &__icon {
        margin: 0 0 30px 0;
    }
    &__title {
        @include text-style (bold,36px,54px,#2F281E);
        text-align: center;
    }
    &__title {
        @include text-style (600,22px,33px,#2F281E);
        margin: auto 0 13px 0;
    }
    &__text {
        @include text-style (500,16px,26px, #544837);
        margin:0;
        margin-top: auto;
    }
    &__icon {
        width: 50px;
        height: 50px;
        display: block;
    }
    &__btn {
        text-decoration: none;
        padding: 15px 0;
        width: 175px;
        background: #FF9900;
        border-radius: 4px;
        text-align: center;
        display: block;
        margin: 34px auto 0 auto;
    }
    &__btn_text {
        margin: 0;
        @include text-style (bold,16px,24px, #ffffff);
    }
    &__btn:hover > &__btn_text {
        animation: cool 0.5s linear infinite alternate;
    } 
}
@keyframes cool  {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}





@media screen and (min-width:320px){
    .info {
        &__wrapper {
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
        }
        &__col {
            flex-basis: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0 0 20px 0;
        }
        &__text {
           text-align: center;
        }
    }
}
@media screen and (min-width:600px){
    .info {
        &__wrapper {
            flex-direction: row;
        }
        &__col {
            flex-basis: 45%;
            align-items: flex-start;
            margin-right: 15px;
        }
        &__text {
            text-align: left;
         }
    }
}
@media screen and (min-width:900px){
    .info {
        &__col {
            flex-basis: 25%;
            margin: 0;
        }
    }
}